p{
	color: green;
	background-color: lightblue;
	font-size: 50px;
}
table{
	text-align: center;
	border: double 5px blue;
	width: 50%;
	background: linear-gradient(#f0f,#ff0,#fff);
}
th,td{
	border: solid 2px seagreen;
	width:25% ;
	height: 1cm;
	font-size: 24px;
}
tr:hover{
	background-color: lightgrey;
}
td:hover{
	background-image: url(https://img1.picmix.com/output/stamp/normal/8/0/4/3/1823408_f230b.gif);
	text-align: center;
	font-size: 2em;
	color: #fff;
}
tr:nth-child(even){
	background-color: purple;
}
caption{
	font-size: 50px;
	color: lightgreen;
	text-transform: uppercase;
}